html, body {
  min-height: 100%;
  margin: 0;
  width: 100%;
}

html {
  background-color: #222;
}

body {
  height: auto;
  overflow-x: hidden;
}

.quote {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: -50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 80%;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #000;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.quote.show {
  -webkit-animation: show 2s 2s forwards;
          animation: show 2s 2s forwards;
}

@-webkit-keyframes show {
  50% {
    -webkit-transform: scale(1.2) translate(-50%, 0);
            transform: scale(1.2) translate(-50%, 0);
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, 0);
            transform: scale(1) translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes show {
  50% {
    -webkit-transform: scale(1.2) translate(-50%, 0);
            transform: scale(1.2) translate(-50%, 0);
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, 0);
            transform: scale(1) translate(-50%, 0);
    opacity: 1;
  }
}

.quote h1 {
  font-size: 30px;
  padding-top: 5px;
  font-weight: 900;
}

.quote p {
  font-size: 20px;
  margin: 0;
}

.jumbotron {
  margin-top: -2em;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #FAC090;
}

.jumbotron::after {
  display: block;
  content: '';
  width: 50%;
  height: 80px;
  background-color: #FAC090;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 50%;
}

.jumbotron h1 {
  font-size: 25px;
  text-align: center;
  font-weight: 900;
}

.jumbotron hr {
  width: 30px;
  border: 5px solid #000;
}

#items div:hover {
  background-color: #FCD7B8;
}

#items div:hover .item h3 {
  font-size: 1.1em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#items .item {
  width: 80%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#items .item h3 {
  font-size: 23px;
  position: relative;
}

#items .item h3::before {
  position: absolute;
  bottom: -10px;
  left: 25px;
  display: block;
  content: '';
  width: 60px;
  height: 30px;
  background-color: #f6892e;
}

#items .item h3 span {
  font-size: 28px;
  font-weight: 900;
}

#items .item hr {
  width: 0px;
  border: 1px solid #000;
  margin-left: 0;
  position: relative;
}

#items .item hr::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

#items .item hr::before {
  display: block;
  content: '';
  position: absolute;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
  top: 0;
  width: 100px;
  height: 5px;
  background-size: 10px 10px;
  background-image: linear-gradient(45deg, transparent 50%, brown 50%, brown 60%, transparent 60%), linear-gradient(135deg, transparent 50%, brown 50%, brown 60%, transparent 60%);
}

#items .item ul li {
  border-left: 3px solid #000;
  padding-left: 10px;
  margin: 10px;
  letter-spacing: 1px;
}

#items .item ul li span {
  font-weight: 900;
  font-size: 1.1em;
}

#panel {
  height: 100vh;
  position: relative;
}

#panel button, #panel .result {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#panel .result {
  display: none;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 1.5px;
  color: #fff;
  padding: 20px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

#mycanvas {
  background-color: #222;
}

.sence.checked .quote {
  color: #fff;
}

@media screen and (max-width: 378px) {
  .sence {
    width: 100%;
    min-height: 300px;
  }
  .anusawari > *:not(.temple) {
    display: none;
  }
  .bigSwing {
    display: none;
  }
  .building {
    display: block;
  }
}
/*# sourceMappingURL=index.css.map */