<input type="checkbox" />

<div class="sence">
  <div class="stars">
    <div class="star1"></div>
    <div class="star2"></div>
    <div class="star3"></div>
    <div class="star4"></div>
    <div class="star5"></div>
    <div class="star6"></div>
    <div class="star7"></div>
    <div class="star8"></div>
    <div class="star9"></div>
    <div class="star10"></div>
    <div class="star11"></div>
    <div class="star12"></div>
    <div class="star13"></div>
    <div class="star14"></div>
    <div class="star15"></div>
  </div>
  <div class="building">

    <div class="anusawari">
      <div class="temple">
        <!-- add quote -->
        <div class="quote"></div>
        <div class="temTop">
          <div class="halfCirTop"></div>
          <div class="halfCirMiddle"></div>
          <div class="halfCirBottom"></div>
        </div>
        <div class="temMain">
          <div class="part1">
            <div class="pillar"></div>
          </div>
          <div class="part2">
            <div class="window"></div>
            <div class="door"></div>
          </div>
          <div class="part3">
            <div class="partTop"></div>
            <div class="partBottom"></div>
          </div>
          <div class="part4">
            <div class="window"></div>
            <div class="door">
              <div class="doorTop">
                <div class="sCir"></div>
                <div class="sCir"></div>
                <div class="sCir"></div>
              </div>
              <div class="doorBottom">
                <div class="handle"></div>
              </div>
            </div>
          </div>
          <div class="part5">
            <div class="partTop"></div>
            <div class="partBottom"></div>
          </div>
          <div class="part6">
            <div class="window"></div>
            <div class="door"></div>
          </div>
          <div class="part1">
            <div class="pillar"></div>
          </div>
        </div>
      </div>
      <div class="wall1">
        <div class="wallTop">
          <div class="lights">
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
          </div>
        </div>
        <div class="wallBottom"></div>
      </div>
      <div class="wall2">
        <div class="wallTop">
          <div class="lights">
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
          </div>
        </div>
        <div class="wallBottom"></div>
      </div>
      <div class="wall3">
        <div class="wallTop">
          <div class="lights">
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
          </div>
        </div>
        <div class="wallBottom"></div>
      </div>
      <div class="wall4">
        <div class="wallTop">
          <div class="lights">
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
          </div>
        </div>
        <div class="wallBottom"></div>
      </div>
    </div>
    <div class="bigSwing">
      <div class="swingTop"></div>
      <div class="swingBottom">
        <ul class="swingText">
          <li><b>大鞦韆1784年</b></li>
          <li>建立於拉瑪一世</li>
          <li>用於舉行名為</li>
          <li>Tri-yampawai</li>
          <li>或鞦韆儀式</li>
          <li>的<b>宗教儀式</b></li>
        </ul>
      </div>
    </div>
  </div>
</div>