<div id="giant">
  <div class="head">
    <div class="layer layer1"></div>
    <div class="layer layer2"></div>
    <div class="layer layer3"></div>
  </div>
  <div class="body">
    <div class="header">
      <div class="flower">
        <div class="leave leave1"></div>
        <div class="leave leave2"></div>
        <div class="leave leave3"></div>
        <div class="leave leave4"></div>
        <div class="center"></div>
      </div>
    </div>
    <div class="face">
      <div class="eye left"></div>
      <div class="eye right"></div>
      <div class="nose"></div>
      <div class="coverMouth">
        <div class="mouth">
          <div class="teeth"></div>
          <div class="teeth"></div>
          <div class="teeth"></div>
          <div class="teeth"></div>
          <div class="teeth"></div>
          <div class="teeth"></div>
          <div class="teeth"></div>
          <div class="teeth"></div>
          <div class="teeth"></div>
          <div class="teeth"></div>
          <div class="big"></div>
          <div class="big big2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="lights">
  <div class="light"></div>
  <div class="light"></div>
  <div class="light"></div>
</div>