<a href="./index.html" class="navbar-brand">
  <img src="./img/thaiskr.jpg" alt="">
  泰時刻</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="./index.html">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#"" id=" navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        找影視
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="./findTV.html"><i class="mr-2 fas fa-tv"></i>泰國劇</a>
        <a class="dropdown-item" href="./findMovie.html"><i class="mr-2 fas fa-video"></i>泰國電影</a>
        <a class="dropdown-item" href="./favorite.html"><i class="mr-2 fas fa-heart"></i>電影蒐藏</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#"" id=" navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        學泰文
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="./keyboard.html"><i class="mr-2 fas fa-keyboard"></i>泰文鍵盤</a>
        <a class="dropdown-item" href="./newspaper.html"><i class="mr-2 fas fa-newspaper"></i>即時新聞</a>
        <a class="dropdown-item" href="./lettersGame.html"><i class="mr-2 fas fa-gamepad"></i>泰字連連看</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#"" id=" navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        看地圖
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="./weather.html"><i class="mr-2 fas fa-cloud"></i>即時天氣</a>
        <a class="dropdown-item" href="./btsRoute.html"><i class="mr-2 fas fa-bus-alt"></i>BTS估價</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./ytPlayer.html">聽泰歌</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#"" id=" navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        關於
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="./source.html"><i class="mr-2 fas fa-keyboard"></i>來源與表單</a>
        <a class="dropdown-item" href="./author.html"><i class="mr-2 fas fa-newspaper"></i>泰時刻</a>
      </div>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto nav-flex-icons">
    <li class="nav-item">
      <a href="http://instagram.com/thaiskrthai" target="_blank" class="nav-link waves-effect waves-light">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="https://medium.com/%E5%B0%8F%E9%83%AD-%E0%B9%80%E0%B8%88%E0%B8%99/tagged/thaiskr" target="_blank"
        class="nav-link waves-effect waves-light">
        <i class="fab fa-medium-m"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="https://www.youtube.com/channel/UC-BjLbOY4VnYD3nouWYzs9w" target="_blank" class="nav-link">
        <i class="fab fa-youtube"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="https://www.facebook.com/thaiskrthai/" target="_blank" class="nav-link waves-effect waves-light">
        <i class="fab fa-facebook-square"></i>
      </a>
    </li>
  </ul>
</div>